In [1]:
import pandas as pd

In [2]:
#Leitura do arquivo com os dados
df = pd.read_csv("../data/exemplo.csv")
print(df, df.shape)
display (df)

         Coluna A  Coluna B  Coluna C
Linha 1         0         1         2
Linha 2        10        11        12
Linha 3        20        21        22 (3, 3)

         Coluna A  Coluna B  Coluna C
Linha 1         0         1         2
Linha 2        10        11        12
Linha 3        20        21        22

In [3]:
#Selecionando uma coluna
print(df['Coluna C'])

Linha 1     2
Linha 2    12
Linha 3    22
Name: Coluna C, dtype: int64

In [4]:
#Criando uma coluna com valor fixo
df ['Coluna D'] = 10
print(df, df.shape)

         Coluna A  Coluna B  Coluna C  Coluna D
Linha 1         0         1         2        10
Linha 2        10        11        12        10
Linha 3        20        21        22        10 (3, 4)

In [5]:
# Criando uma coluna com valor variavel
df['Coluna E'] =  df['Coluna B'] + df['Coluna C']
print(df, df.shape)

         Coluna A  Coluna B  Coluna C  Coluna D  Coluna E
Linha 1         0         1         2        10         3
Linha 2        10        11        12        10        23
Linha 3        20        21        22        10        43 (3, 5)

In [6]:
# Criando uma coluna, informando os valores em uma s√©rie
df['Coluna F'] = [1, 2, 3]
print(df, df.shape)

         Coluna A  Coluna B  Coluna C  Coluna D  Coluna E  Coluna F
Linha 1         0         1         2        10         3         1
Linha 2        10        11        12        10        23         2
Linha 3        20        21        22        10        43         3 (3, 6)

In [7]:
# Criando nova coluna com totais
df['Total'] = df.sum(axis=1)
vari = df.sum(axis=0)
print(df)
print(vari)

         Coluna A  Coluna B  Coluna C  Coluna D  Coluna E  Coluna F  Total
Linha 1         0         1         2        10         3         1     17
Linha 2        10        11        12        10        23         2     68
Linha 3        20        21        22        10        43         3    119
Coluna A     30
Coluna B     33
Coluna C     36
Coluna D     30
Coluna E     69
Coluna F      6
Total       204
dtype: int64