In [1]:
numero_legal: float = 13.1

In [2]:
print(numero_legal * 2)

26.2

In [3]:
def dobrar(numero: float):
    return 2 * numero

In [4]:
resultado = dobrar(3)

In [5]:
print(resultado)

6

In [6]:
def dividir(numero: float, divisor: float):
    return numero / divisor

In [7]:
dividir(3, 5)

0.6

In [8]:
nome = 'Rodrigo Hiroto Morais'

In [9]:
print(nome[0:7])

Rodrigo

In [21]:
lista_nomes = nome.split()

In [22]:
print(lista_nomes)

['Rodrigo', 'Hiroto', 'Morais']

In [51]:
def nome_do_meio(nome_pessoa):
    nomes = nome_pessoa.split()
    print(nomes)
    return nomes[1:-1]

In [57]:
resultado_nome = nome_do_meio('Rodrigo Jiaqi Naoki Hiroto de Morais')

['Rodrigo', 'Jiaqi', 'Naoki', 'Hiroto', 'de', 'Morais']

In [58]:
resultado_nome

['Jiaqi', 'Naoki', 'Hiroto', 'de']

In [46]:
lista = [0, 1, 2, 3, 4]

In [61]:
lista[0]

0

In [62]:
import pandas as pd

In [63]:
df = pd.read_csv('../data/exemplo.csv')

In [64]:
df.drop(columns=['Coluna A'])

         Coluna B  Coluna C
Linha 1         1         2
Linha 2        11        12
Linha 3        21        22